# Eclipse IDE: Archivos de configuracion
.classpath
.project
.settings/

#Gradle
.gradletasknamecache
.gradle/
build/
bin/

# Class Files #
*.class
war/WEB-INF/classes/*

# Package Files #
*.jar
!war/WEB-INF/lib/*.jar
*.war
*.ear