<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- Especificamos el package donde Spring debe buscar anotaciones -->
	<context:component-scan base-package="com.vfg.appengineblank" />
	
	<!-- AnnotationMethodHandlerAdapter nos permite especificar las clases que se encargan
	de la transformacion de los datos recibidos mediante @RequestBody o retornados mediante
	@ResponseBody en los formatos indicados por las cabeceras (json o xml)  -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
   		<property name="messageConverters">	
      		<list>
           		<ref bean="jsonConverter" />
        		<ref bean="marshallingConverter" />
	       </list>
   		</property>
	</bean>

	<!-- Bean para la conversion a json -->
	<bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
   		<property name="supportedMediaTypes" value="application/json" />
	</bean>
	
	<!-- Bean para la conversion a xml -->
	<bean id="marshallingConverter" class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
		<constructor-arg ref="jaxbMarshaller" />
    	<property name="supportedMediaTypes" value="application/xml"/>
    </bean>
	
	<!-- Por desgracia hay que listar todas las clases que pueden ser transformadas a xml -->
	<bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
    	<property name="classesToBeBound">
	  		<list>
	  			<value>com.vfg.appengineblank.commons.dto.ResponseDto</value>
	  			<value>com.vfg.appengineblank.commons.dto.RequestDto</value>
	  		</list>
    	</property>
	</bean>
		
	<!-- Aqui indcamos la clase que se encarga de transformar los datos que llegan en
	formato x-www-formurlencoded -->
	<mvc:annotation-driven>
		<mvc:message-converters>
        	<bean class="com.vfg.appengineblank.commons.adapters.ObjectHttpMessageConverter"/>
    	</mvc:message-converters>
	</mvc:annotation-driven>
	
	<security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled" />
	
</beans>